#etchgrid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    outline: black solid 1px;
}


.cell {
    
    flex-grow: 1;
    flex-shrink: 1;
   
}

#headline {
    padding-bottom: 8px;
}

.border {
    outline: 1px black solid;
}